<?xml version="1.0"?>
<!--
/**
 * @author Vitaliy Boyko <vitaliyboyko@i.ua>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Contact\Controller\Index\Post" type="VitaliyBoyko\ContactUsHistory\Controller\Index\Post" />
    <preference for="Magento\Contact\Block\ContactForm" type="VitaliyBoyko\ContactUsHistory\Block\ContactForm" />
    <preference for="Magento\Contact\Model\Mail" type="VitaliyBoyko\ContactUsHistory\Model\Mail" />


    <preference for="VitaliyBoyko\ContactUsHistory\Api\Data\NoteDataInterface" type="VitaliyBoyko\ContactUsHistory\Data\NoteData" />
    <preference for="VitaliyBoyko\ContactUsHistory\Api\Command\DeleteNotesInterface" type="VitaliyBoyko\ContactUsHistory\Command\DeleteNotesCommand" />
    <preference for="VitaliyBoyko\ContactUsHistory\Api\Command\SaveNotesInterface" type="VitaliyBoyko\ContactUsHistory\Command\SaveNotesCommand" />
    <preference for="VitaliyBoyko\ContactUsHistory\Api\Query\GetNoteByIdInterface" type="VitaliyBoyko\ContactUsHistory\Query\GetNoteById" />
    <preference for="VitaliyBoyko\ContactUsHistory\Api\Query\GetNotesListInterface" type="VitaliyBoyko\ContactUsHistory\Query\GetNotesList" />

    <type name="VitaliyBoyko\ContactUsHistory\Service\ProcessNoteService">
        <plugin name="admin_notify_about_new_note"
                type="VitaliyBoyko\ContactUsHistory\Plugin\Model\Note\Command\NoteProcessorAdminNotificationPlugin"/>
    </type>

    <type name="Magento\Contact\Block\ContactForm">
        <plugin name="vitaliyboyko_contact-us-history_block_form" type="VitaliyBoyko\ContactUsHistory\Plugin\Block\ContactForm"/>
    </type>


</config>
